body {
    background-color: #ffffff;
    background-size: cover;
    margin: 0;
}

h1 {
  font-family: "Radikal";
  font-weight: medium;
  font-size: 30px;
}

h2 {
  font-family: "Radikal";
  font-weight: medium;
  font-size: 30px;
  color: #510160;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
}
.random{
  font-family: "Radikal";
  font-weight: medium;
  font-size: 30px;
  color: #ffff;
  display: flex;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
}
.random2{
  font-family: "Radikal";
  font-weight: bold;
  font-size: 30px;
  color: #510160;
  display: flex;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
}




.header1 {
  display: flex;          
  flex-direction: column;  
  align-items: center;  
  margin: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffff;
  background-image: url(./img/background3.jpg);
  background-position: 0% center; /* Start at 0% (left) */
  background-size: 100%;   /* Adjust size as needed, keeping height at 100% */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease; /* Smooth fade-in transition */
}



.nav-links { /* Style the navigation links container (optional) */
  display: flex;
  gap: 15px; /* Add space between links */
}

.header1 h1 {
  margin-top: 0;
  margin-bottom: 10px;  /* Add some space below the heading */
  font-family: "Radikal";
  font-weight: 900;
  font-size: 50px;
}

.header1 a {  /* Style all links within .header1 */
  display: inline-block;  /* Make them behave like block elements */
  padding: 10px 20px;   /* Add some padding for visual appeal */
  background-color: #440149; /* Set a default background color (blue) */
  color: #ffff;          /* Set text color to white */
  text-decoration: none; /* Remove default underline */
  border: none;          /* Remove default border */
  border-radius: 5px;    /* Add rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  font-family: "Radikal";
  font-weight: bold;
  font-size: 15px;
}

.header1 a:hover {    /* Styles for when you hover over a link */
  background-color: #36013a; /* Darker blue on hover */
  cursor: pointer;        /* Change cursor to indicate it's clickable */
}

.header1 a:active {   /* Styles for when you click a link */
  background-color: #200023; /* Even darker blue on click */
}

/* Overall Table Styling */
#league-table {
  width: 100%; /* Or set a specific width */
  border-collapse: collapse; /* Remove extra spacing between cells */
  margin: 20px auto; /* Center the table with some margin */
  font-family: "Radikal"; /* Consistent font for the table */
  table-layout: fixed; /* This is the key addition */
  background-color: #ffffff; /* White with 80% opacity (adjust as needed) */
}


#league-table th, #league-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #340040; /* Text color for headers */
}


#league-table th {
  background-color: #e1e0e0; /* Blue with 90% opacity (adjust color and opacity as needed) */
}

#league-table tr:nth-child(5) td { /* Selects the 5th row */
  border-bottom: 1px solid #3383fc; 
}  /* Selects the 4th row */
#league-table tr:nth-child(7) td { /* Selects the 7th row */
  border-bottom: 1px solid #33fc36; 
}
#league-table tr:nth-child(18) td { /* Selects the 18th row */
  border-bottom: 1px solid #ff0000; 
}
#league-table tr:nth-child(21) td { /* Selects the 21th row */
  border-bottom: 1px solid #c1c1c1; 
}

#league-table td:nth-child(2) {  /* Target the 2nd cell in each row */
  text-align: left; 
}

#league-table td:nth-child(3),
#league-table td:nth-child(2),
#league-table td:nth-child(1) {  /* Target the 2nd cell in each row */
  font-weight: bold; 
}

/* Table Row Hover Effect */
#league-table tr:hover {
  background-color: #e4e2e2; /* Light gray background on hover */
}

#team-table {
  width: 100%; /* Or set a specific width */
  border-collapse: collapse; /* Remove extra spacing between cells */
  margin: 20px auto; /* Center the table with some margin */
  font-family: "Radikal"; /* Consistent font for the table */
  table-layout: fixed; /* This is the key addition */
  background-color: #ffffff; /* White with 80% opacity (adjust as needed) */
}


#team-table th, #team-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #340040; /* Text color for headers */
}


#team-table th {
  background-color: #e1e0e0; /* Blue with 90% opacity (adjust color and opacity as needed) */
}

#team-table tr:last-child td { /* Selects the 21th row */
  border-bottom: 1px solid #c1c1c1; 
}

#team-table td:nth-child(2),
#team-table td:nth-child(3) {  /* Target the 2nd cell in each row */
  text-align: left; 
  padding-left: 80px;
}

#team-table td:nth-child(2),
#team-table td:nth-child(1) {  /* Target the 2nd cell in each row */
  font-weight: bold; 
}

/* Table Row Hover Effect */
#team-table tr:hover {
  background-color: #e4e2e2; /* Light gray background on hover */
}

#ref-table {
  width: 50%; /* Or set a specific width */
  border-collapse: collapse; /* Remove extra spacing between cells */
  margin: 20px auto; /* Center the table with some margin */
  font-family: "Radikal"; /* Consistent font for the table */
  table-layout: fixed; /* This is the key addition */
  background-color: #ffffff; /* White with 80% opacity (adjust as needed) */
  border-radius: 20px;
  padding: 10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative
}


#ref-table th, #ref-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #340040; /* Text color for headers */
}


#ref-table th {
  background-color: #e1e0e0; /* Blue with 90% opacity (adjust color and opacity as needed) */
}

#ref-table th:first-child {
 border-top-left-radius: 20px;
}

#ref-table th:last-child {
  border-top-right-radius: 20px;
  padding-right: 100px;
 }

#ref-table td:nth-child(2),
#ref-table td:nth-child(3) {  /* Target the 2nd cell in each row */
  text-align: left; 
  padding-left: 80px;
}

#ref-table td:nth-child(2),
#ref-table td:nth-child(1) {  /* Target the 2nd cell in each row */
  font-weight: bold; 
}

/* Table Row Hover Effect */
#ref-table tr:hover {
  background-color: #e4e2e2; /* Light gray background on hover */
}


.main-nav {
  width: 250px;
  height: 300px;
  background-image: url("./img/background2.jpg");
  background-size: 500px 400px;
  background-position: -10px;
  margin: 150px;
  text-align: center;
  display: flex;          /* Enable Flexbox for the navigation menu */
  flex-direction: column; /* Arrange items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  border-radius: 20px;
  padding: 10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative
}

.team-manage-nav {
  width: 250px;
  height: 340px;
  background-image: url("./img/background2.jpg");
  background-size: 500px 400px;
  background-position: -10px;
  margin: 150px;
  text-align: center;
  display: flex;          /* Enable Flexbox for the navigation menu */
  flex-direction: column; /* Arrange items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  border-radius: 20px;
  padding: 10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative
}


.nav-title {
  position:absolute;    /* Position the title relative to the .main-nav container */
  top: 0px;             /* Set the top position to 20px */
  text-align: center;    /* Center the text horizontally */
  margin-bottom: 15px; /* Add some space below the title */
  color: white;          /* Set the text color to contrast with the background */
  font-family: 'Radikal';
  font-weight: bold;
}

.nav-list {
  position:absolute;    /* Position the title relative to the .main-nav container */
  top: 60px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  background-color: #3c0148 ;
  margin: 20px 0;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-item:last-child {
  border-bottom: none;
}

.nav-link {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: #ffff;
  font-family: 'Radikal';
  font-weight: bold;
}

.nav-link:hover {
  background-color: #200027;
  border-radius: 12px;
}

.club-menu{
  display: flex;          /* Enable Flexbox for the navigation menu */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-top: 20px;
}

.label {
  font-family: 'Radikal';
  color: #ffff;
  font-weight: bold;
  margin-right: 10px;
}

#club-select {
  width: 200px;   
  padding: 10px;  
  border: 1px solid #ccc;
  border-radius: 5px;  
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='12'%20viewBox='0%200%2012%2012'%3E%3Cpath%20d='M10.293%203.293L6%207.586%201.707%203.293A1%201%200%200%200%20.293%204.707l5%205a1%201%200%200%200%201.414%200l5-5a1%201%200%201%200-1.414-1.414z'%20fill='%23555'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 12px 12px; /* Adjust the arrow size if needed */
  font-family: 'Radikal';
  font-weight: bold;
}

#club-select:focus {
  outline: none;   
  border-color: #5a6268; 
}

a {
	color: inherit;
}

.players-table {
  width: 80%; /* Or set a specific width */
  border-collapse: collapse; /* Remove extra spacing between cells */
  margin: 20px auto; /* Center the table with some margin */
  font-family: "Radikal"; /* Consistent font for the table */
  table-layout: fixed; /* This is the key addition */
  background-color: #ffffff;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}



.players-table th, .players-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #340040; /* Text color for headers */
}

.players-table th {
  background-color: #e1e0e0;
}
.players-table th:first-child{
  border-top-left-radius: 12px;  
}
.players-table th:last-child{
  border-top-right-radius: 12px;  
}


.players-table td:nth-child(2){
  text-align: left;
}

.players-table td:nth-child(4),
.players-table td:nth-child(5),
.players-table td:nth-child(6){
  text-align: left;
}

.players-table th:nth-child(2),
.players-table th:nth-child(4),
.players-table th:nth-child(5),
.players-table th:nth-child(6){
  text-align: left;
}

.players-table td:nth-child(3),
.players-table td:nth-child(2),
.players-table td:nth-child(1) {
  font-weight: bold; 
}

.players-table tr:last-child td:first-child{
  border-bottom-left-radius: 12px;
}
.players-table tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

/* Table Row Hover Effect */
.players-table tr:hover {
  background-color: #e4e2e2;
  border-radius: 12px;
}

.player-function {
  display: flex;          /* Enable Flexbox for the navigation menu */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin: 30px;
}

.add-player,.add-player1 {
  margin: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition */
  background-color: #510160;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  text-decoration: none;
  color: #ffff;
  font-family: 'Radikal';
  font-weight: bold;
}

.add-player:hover, .add-player1:hover {
  background-color: #3c0148; /* Darker red on hover */
}

.update-player {
  margin: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition */
  background-color: #510160;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  text-decoration: none;
  color: #ffff;
  font-family: 'Radikal';
  font-weight: bold;
}

.update-player:hover {
  background-color: #3c0148; /* Darker red on hover */
}

.delete-player, .delete-player1 {
  margin: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition */
  background-color: #510160;
  display: block;
  text-decoration: none;
  color: #ffff;
  font-family: 'Radikal';
  font-weight: bold;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.delete-player:hover,.delete-player1:hover {
  background-color: #3c0148; /* Darker red on hover */
}

.coach-function {
  display: flex;          /* Enable Flexbox for the navigation menu */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin: 30px;
}

.add-coach {
  margin: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition */
  background-color: #510160;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  text-decoration: none;
  color: #ffff;
  font-family: 'Radikal';
  font-weight: bold;
}

.add-coach:hover {
  background-color: #3c0148; /* Darker red on hover */
}

.update-coach {
  margin: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition */
  background-color: #510160;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  text-decoration: none;
  color: #ffff;
  font-family: 'Radikal';
  font-weight: bold;
}

.update-coach:hover {
  background-color: #3c0148; /* Darker red on hover */
}

.delete-coach {
  margin: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition */
  background-color: #510160;
  display: block;
  text-decoration: none;
  color: #ffff;
  font-family: 'Radikal';
  font-weight: bold;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.delete-coach:hover {
  background-color: #3c0148; /* Darker red on hover */
}

/* Basic Modal Styling */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  width: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4);
  color: #3c0148;
  font-family: 'Radikal';
  font-weight: bold;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.modal-content2 {
  background-color: #fefefe;
  margin: 100% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close-button, .close-button2, .close-button3, .close-button4{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus,
.close-button2:hover,
.close-button2:focus,
.close-button3:hover,
.close-button3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Additional Styling (Customize) */
.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addPlayerForm button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}
#addPlayerForm1 button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}

#updatePlayerForm button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}

#deletePlayerForm button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}

#deletePlayerForm1 button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}

#addCoachForm button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}

#updateCoachForm button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}

#deleteCoachForm button[type="submit"] {
  background-color: #510160; /* Blue background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Radikal';
}

.fixtures-table {
  width: 80%; /* Or set a specific width */
  border-collapse: collapse; /* Remove extra spacing between cells */
  margin: 20px auto; /* Center the table with some margin */
  font-family: "Radikal"; /* Consistent font for the table */
  table-layout: fixed; /* This is the key addition */
  background-color: #ffffff;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}



.fixtures-table th, .fixtures-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #340040; /* Text color for headers */
}

.fixtures-table th {
  background-color: #e1e0e0;
}
.fixtures-table th:nth-child(2){
  text-align: left;
}
.fixtures-table th:first-child{
  border-top-left-radius: 12px;  
}
.fixtures-table th:last-child{
  border-top-right-radius: 12px;  
}
 

.fixtures-table td:nth-child(2),
.fixtures-table td:nth-child(3),
.fixtures-table th:nth-child(2){
  text-align: left;
}

.fixtures-table th:nth-child(2){
  padding-left: 30px;
}
.fixtures-table td:nth-child(6){
  text-align: right;
  padding-right: 60px;
}
.fixtures-table td:nth-child(5){
  text-align: right;
  padding-right: 30px;
}

.fixtures-table td:nth-child(4),
.fixtures-table th:nth-child(4),
.fixtures-table th:nth-child(5),
.fixtures-table th:nth-child(6){
  text-align: center;
}


.fixtures-table td:nth-child(3),
.fixtures-table td:nth-child(2),
.fixtures-table td:nth-child(1) {
  font-weight: bold; 
}

.fixtures-table tr:last-child td:first-child{
  border-bottom-left-radius: 12px;
}
.fixtures-table tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

/* Table Row Hover Effect */
.fixtures-table tr:hover {
  background-color: #e4e2e2;
  border-radius: 12px;
}

#match-select {
  width: 200px;   
  padding: 10px;  
  border: 1px solid #ccc;
  border-radius: 5px;  
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='12'%20viewBox='0%200%2012%2012'%3E%3Cpath%20d='M10.293%203.293L6%207.586%201.707%203.293A1%201%200%200%200%20.293%204.707l5%205a1%201%200%200%200%201.414%200l5-5a1%201%200%201%200-1.414-1.414z'%20fill='%23555'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 12px 12px; /* Adjust the arrow size if needed */
  font-family: 'Radikal';
  font-weight: bold;
}

#match-select:focus {
  outline: none;   
  border-color: #5a6268; 
}

.match-menu{
  display: flex;          /* Enable Flexbox for the navigation menu */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-top: 40px;
  margin-bottom: 40px;
}


.week-match{
  display: flex; /* or inline-flex if needed */
  align-items: center;
  justify-content: center;
}

#week-select {
  width: 200px;   
  padding: 10px;  
  border: 1px solid #ccc;
  border-radius: 5px;  
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='12'%20viewBox='0%200%2012%2012'%3E%3Cpath%20d='M10.293%203.293L6%207.586%201.707%203.293A1%201%200%200%200%20.293%204.707l5%205a1%201%200%200%200%201.414%200l5-5a1%201%200%201%200-1.414-1.414z'%20fill='%23555'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 12px 12px; /* Adjust the arrow size if needed */
  font-family: 'Radikal';
  font-weight: bold;
}

#week-select:focus {
  outline: none;   
  border-color: #5a6268; 
}

.week-menu{
  display: flex;          /* Enable Flexbox for the navigation menu */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.label {
  font-family: 'Radikal';
  color: #ffff;
  font-weight: bold;
  margin-right: 10px;
}

.players-list-table {
  width: 80%; /* Or set a specific width */
  border-collapse: collapse; /* Remove extra spacing between cells */
  margin: 20px auto; /* Center the table with some margin */
  font-family: "Radikal"; /* Consistent font for the table */
  table-layout: fixed; /* This is the key addition */
  background-color: #ffffff;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.players-list-table th, .players-list-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #340040; /* Text color for headers */
}

.players-list-table th {
  background-color: #e1e0e0;
}
.players-list-table th:first-child{
  border-top-left-radius: 12px;  
}
.players-list-table th:last-child{
  border-top-right-radius: 12px;  
} 

.players-list-table tr:last-child td:first-child{
  border-bottom-left-radius: 12px;
}
.players-list-table tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

/* Table Row Hover Effect */
.players-list-table tr:hover {
  background-color: #e4e2e2;
  border-radius: 12px;
}

.start-event-row {
  border-top: 4px solid #c7c7c7; /* Example: Blue border */
  /* Add other styles as desired */
}

.two-half-row{
  border-top: 1px solid #c7c7c7; /* Example: Blue border */
  /* Add other styles as desired */
}

.coaches-list-table {
  width: 80%; /* Or set a specific width */
  border-collapse: collapse; /* Remove extra spacing between cells */
  margin: 20px auto; /* Center the table with some margin */
  font-family: "Radikal"; /* Consistent font for the table */
  table-layout: fixed; /* This is the key addition */
  background-color: #ffffff;
  border-radius: 12px;  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.coaches-list-table th, .coaches-list-table td {
  padding: 8px;
  text-align: center;
  overflow: hidden; /* Prevent content from overflowing the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  white-space: nowrap; /* Prevent text from wrapping */
  color: #340040; /* Text color for headers */
}

.coaches-list-table th {
  background-color: #e1e0e0;
}
.coaches-list-table th:first-child{
  border-top-left-radius: 12px;  
}
.coaches-list-table th:last-child{
  border-top-right-radius: 12px;  
} 

.coaches-list-table tr:last-child td:first-child{
  border-bottom-left-radius: 12px;
}
.coaches-list-table tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

/* Table Row Hover Effect */
.coaches-list-table tr:hover {
  background-color: #e4e2e2;
  border-radius: 12px;
}

.match-result { /* Style the area for displaying match results */
  display: flex; /* Use inline-flex instead of flex */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-top: 20px;
  background-color: #ffff;
  text-align: center;
  border-radius: 20px;
  padding: 10px; 
  width: fit-content;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative
}


/* .roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
} */

@font-face {
  font-family: 'Radikal'; /* Name you'll use in CSS */
  src: url('./img/font/RadikalTrial-Medium.woff2') format('woff2');
  font-weight: medium; /* Or specify weights: bold, 100, 200, etc. */
}

@font-face {
  font-family: 'Radikal'; /* Name you'll use in CSS */
  src: url('./img/font/RadikalTrial-Bold.woff2') format('woff2');
  font-weight: bold; /* Or specify weights: bold, 100, 200, etc. */
}

@font-face {
  font-family: 'Radikal'; /* Name you'll use in CSS */
  src: url('./img/font/RadikalTrial-Regular.woff2') format('woff2');
  font-weight: normal; /* Or specify weights: bold, 100, 200, etc. */
}

@font-face {
  font-family: 'Radikal'; /* Name you'll use in CSS */
  src: url('./img/font/RadikalTrial-Black.woff2') format('woff2');
  font-weight: 900; /* Or specify weights: bold, 100, 200, etc. */
}


  